@page "/admin"
@using Entity
@inject IJSRuntime _js
@inject IProfileQueries _profileQueries
@inject IProfileMutations _profileMutations

<PageTitle>Admin</PageTitle>

@if (_profile is null)
{
	<h1>profile is null</h1>
}

@if (_profile is not null)
{
	<div class="md:w-1/3">
		<div class="">
			<section class="flex flex-col items-center py-2">
				@* main pic *@
				<img src="pic/sample_1.jpg" class="rounded-xl py-2" height="100" width="100">
				<h1 class="text-2xl">
					@if (editName)
					{
						<input type="text" value="@_profile.Name" @onchange="HandleChangeName" />
					}
					else
					{
						@_profile.Name
					}
					<span class="icon-[bx--pencil] text-sm cursor-pointer" @onclick="@(() => editName = !editName)" />
				</h1>

			</section>
			<section class="p-2">
				@* description / about *@
				<div class="inline-flex justify-end w-full">
					<span class="icon-[bx--pencil] text-sm cursor-pointer" @onclick="@(() => editAbout = !editAbout)" />
				</div>
				<article class="text-sm text-justify">
					@if (editAbout)
					{
						<textarea value="@_profile.About" class="text-sm w-full resize-none" rows="3" @onchange="HandleChangeAbout"></textarea>
					}
					else
					{
						@_profile.About
					}
				</article>
			</section>
		</div>
		<section class="flex justify-center gap-2 py-2">
			@foreach (var sa in _profile.SocialAnchors)
			{
				<a href="@sa.LinkTo">
					<img src="@sa.Pic" alt="@sa.Alt" class="cursor-pointer" height="30" width="30" />
				</a>
			}
			<span @onclick="EditSocialMediaLinks" class="icon-[bx--pencil] text-sm cursor-pointer" />
		</section>
		<section>
			@* highlights / story / their ads or promo
		<a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
		<img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="pic/sample_1.jpg" alt="sample" />
		<div class="flex flex-col justify-between p-4 leading-normal">
		<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
		<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
		</div>
		</a>
		*@
		</section>
		
		<section class="flex flex-col gap-2 p-4 w-full">
			@* links if there is any *@
			<div class="flex justify-end">
				<span @onclick="EditOtherLinks" class=" icon-[bx--pencil] text-sm cursor-pointer" />
			</div>

			@foreach (var oa in _profile.OtherAnchors)
			{
				<a href="@oa.LinkTo" class="flex items-center border border-gray-200 rounded-lg shadow h-16 gap-4">
					<img class="object-cover max-h-16" src="@oa.Pic" alt="@oa.Alt" />
					<p class="text-sm font-semibold tracking-tight text-gray-900 dark:text-white">
						@oa.Description
					</p>
				</a>
			}
		</section>
		<section>
			@* a *@
		</section>
		<section>
			@* v or s *@
		</section>
		@**@
		
		<section class="text-center py-6">
			<button
				class="btn btn-dark"
				@onclick="HandleSaveProfile"
			>
				Save
			</button>
		</section>

		<!-- drawer component  -->
		<div id="drawer-social" aria-labelledby="drawer-contact-label" class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-80 dark:bg-gray-800" tabindex="-1">
			<h5 id="drawer-label" class="inline-flex items-center mb-6 text-base font-semibold text-gray-500 uppercase dark:text-gray-400">
				Social Links
			</h5>
			<!-- data-drawer-hide="drawer-contact" aria-controls="drawer-contact" -->
			<button 
				type="button"
				class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white"
			>
				<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
				</svg>
				<span class="sr-only">Close menu</span>
			</button>
			<div class="mb-6">
				@foreach (var sa in _profile.SocialAnchors)
				{
					<div class="mb-6">
						<label for="exx" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
							@sa.Description
						</label>
						<input type="text" id="exx" class="input-txt" placeholder="https://" value="@sa.LinkTo" @onchange="@((arg) => SocialAnchorChangeLinkTo(sa.Id, sa.LinkTo))" required />
					</div>
				}
				<button @onclick="HideSocialMediaLinks" class="btn btn-dark w-full">
					Ok
				</button>
			</div>
		</div>

		<!-- drawer component  -->
		<div id="drawer-links" aria-labelledby="drawer-contact-label" class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-80 dark:bg-gray-800" tabindex="-1">
			<h5 id="drawer-label" class="inline-flex items-center mb-6 text-base font-semibold text-gray-500 uppercase dark:text-gray-400">
				Other Links
			</h5>
			<!-- data-drawer-hide="drawer-contact" aria-controls="drawer-contact" -->
			<button type="button"
					class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
				<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
				</svg>
				<span class="sr-only">Close menu</span>
			</button>
			<div class="mb-6">
				@foreach (var oa in _profile.OtherAnchors)
				{
					<div class="mb-2 border-b-2">
						<label for="lnk" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
							Link 
						</label>
						<input type="text" id="dsc" class="input-txt mb-1" placeholder="Description" value="@oa.Description" @onchange="@((arg) => OtherAnchorChangeDescription(oa.Id, arg.Value?.ToString()))" required />
						<input type="text" id="lnk" class="input-txt mb-1" placeholder="https://" value="@oa.LinkTo" @onchange="@((arg) => OtherAnchorChangeLinkTo(oa.Id, arg.Value?.ToString()))" required />
						<input type="text" id="pic" class="input-txt mb-1" placeholder="https://" value="@oa.Pic" @onchange="@((arg) => OtherAnchorChangeLinkTo(oa.Id, arg.Value?.ToString()))" required />
					</div>
				}

				<button @onclick="HideOtherLinks" class="btn btn-dark w-full block">
					Ok
				</button>
			</div>
		</div>
		@**@
	</div>
}

<script src="/js/etc.js"></script>

@code {
	private Profile? _profile { get; set; }

	bool editName = false;
	bool editAbout = false;

	protected override async Task OnInitializedAsync()
	{
		_profile = await _profileQueries.GetProfileAsync();

		await base.OnInitializedAsync();
	}

	async Task EditSocialMediaLinks()
	{
		await _js.InvokeVoidAsync("editSocialMediaLinks.show");
	}

	async Task HideSocialMediaLinks()
	{
		await _js.InvokeVoidAsync("editSocialMediaLinks.hide");
	}

	async Task EditOtherLinks()
	{
		await _js.InvokeVoidAsync("editOtherLinks.show");
	}

	async Task HideOtherLinks()
	{
		await _js.InvokeVoidAsync("editOtherLinks.hide");
	}

	void HandleChangeName(ChangeEventArgs e)
	{
		_profile!.Name = e?.Value?.ToString() ?? "";
	}

	void HandleChangeAbout(ChangeEventArgs e)
	{
		_profile!.About = e?.Value?.ToString() ?? "";
	}

	void SocialAnchorChangeLinkTo(string id, string? v)
	{
		if (string.IsNullOrWhiteSpace(id) || string.IsNullOrWhiteSpace(v))
		{
			return;
		}

		var anchor = _profile?.OtherAnchors.Find(x => x.Id == id);
		anchor!.LinkTo = v;
	}

	void OtherAnchorChangeDescription(string id, string? v)
	{
		if (string.IsNullOrWhiteSpace(id) || string.IsNullOrWhiteSpace(v))
		{
			return;
		}

		var anchor = _profile?.OtherAnchors.Find(x => x.Id == id);
		anchor!.Description = v;
	}

	void OtherAnchorChangeLinkTo(string id, string? v)
	{
		if (string.IsNullOrWhiteSpace(id) || string.IsNullOrWhiteSpace(v))
		{
			return;
		}

		var anchor = _profile?.OtherAnchors.Find(x => x.Id == id);
		anchor!.LinkTo = v;
	}

	void OtherAnchorChangePic(string id, string? v)
	{
		if (string.IsNullOrWhiteSpace(id) || string.IsNullOrWhiteSpace(v))
		{
			return;
		}

		var anchor = _profile?.OtherAnchors.Find(x => x.Id == id);
		anchor!.Pic = v;
	}

	void HandleSaveProfile()
	{
		if (_profile is null || string.IsNullOrWhiteSpace(_profile.Id))
		{
			return;
		}

		_profileMutations.UpdateProfileInfo(_profile);
	}
}

@* - - - *@
